@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    font-family: Roboto,sans-serif;
    display: block;
    text-align: center;
    background-color: #f2f5fe;
}
.schedule-container
{
    margin: 0 auto;
}

.schedule-container__header
{
    margin: 0 auto;
    height: 200px;
    width: 1000px;
}

table
{
    margin-top: 10px;
    width: 1110px;
    height: 900px;
    border-collapse: collapse;
    background-color: white;
}

table td, th
{
    border: 1px solid rgb(134, 186, 238);
}

#schedule
{
  margin: 0 auto;
}

button
{
    text-align: center;
    height: 40px;
    width: 165px;
    border: 1px solid rgb(144, 194, 244);
    background-color: white;
    font-family: Roboto,sans-serif;
    font-size: 15px;
}

#nextWeek
{
    position: absolute;
    right: 203px;  
    top: 80px;
    color: #2780e3;
}

#previousWeek
{
    position: absolute;
    left: 203px;
    top: 80px;
    color: #2780e3;
}

.header
{
    font-size: 20px;
}

select
{
    font-size: 15px;
    font-family: Roboto,sans-serif;
    width: 165px;
    height: 40px;
    text-align: center;
    border: 1px solid rgb(144, 194, 244);
}

#selectGroups
{
    position: absolute;
    left: 500px;
    top: 80px;
    color: #2780e3;
}

#selectTeachers
{
    position: absolute;
    right: 500px;
    top: 80px;
    color: #2780e3;
}

#currentWeek
{
    position: absolute;
    top: 140px;
    left: 725px;
    color: #2780e3;
    font-size: 18px;
}